.m-r-md {
    margin-right: 20px;
}

.m-t-md {
    margin-top: 20px;
}

.m-y-lg {
    margin: 40px 0;
}

.m-y-md {
    margin: 20px 0px;
}

.spacer-lg {
    margin: 20px 0;
}

.spacer-md {
    display: block;
    height: 40px;
}

.d-flex {
    display: flex;
}

.flex-a-c {
    align-items: center;
    justify-content: center;
}
